#films-container {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(168, 196, 214);
  line-height: 1.7;
}

#films-container > h1 {
  text-align: center;
}

#films-container > form {
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: center;
  border: 1px solid black;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

h3 > a {
  text-decoration: none;
}

form {
  text-align: center;
}
